@{
	ViewData["Title"] = "Cart";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-12">
			<span class="text-danger">No order has been placed. All ordered items have been added to the database, but only for demo purposes!</span>

			<h1>Thank you for your order!</h1>

			<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
				<i class="fa-solid fa-house"></i>
			</a>
		</div>
	</div>
</div>
